---
import Layout from '../layouts/Layout.astro';
import ExperienceTimeline from '../components/Experience.astro';
---

<Layout title="Experience | Iago Fernandez" description="Detailed timeline of my professional experience, including my software internship at RAPOSa.">
    <div class="mx-auto w-full max-w-6xl px-6 py-8 sm:px-12">
        <ExperienceTimeline />
    </div>
</Layout>