---
import Layout from '../../layouts/Layout.astro';
import ContactSection from '../../components/Contact.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('page.contact.title')} description={t('page.contact.desc')}>
    <div class="mx-auto w-full max-w-6xl px-6 py-8 sm:px-12">
        <ContactSection />
    </div>
</Layout>