---
import Layout from '../../layouts/Layout.astro';
import ExperienceTimeline from '../../components/Experience.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('page.exp.title')} description={t('page.exp.desc')}>
    <div class="mx-auto w-full max-w-6xl px-6 py-8 sm:px-12">
        <ExperienceTimeline />
    </div>
</Layout>