---
import Layout from '../../layouts/Layout.astro';
import ProjectsGrid from '../../components/Projects.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('page.proj.title')} description={t('page.proj.desc')}>
    <div class="mx-auto w-full max-w-6xl px-6 py-8 sm:px-12">
        <ProjectsGrid />
    </div>
</Layout>